<div style="float:right"><%= link_to 'Log In', login_path, class: "button2" %></div>
<div class="fitness_margin" >
<h1>FITN<small>ess</small> </h1>
</br>
</br>
</div>
<div class="margin" >
<h2><small>Fitness & Health</small></h2>
<h2><small>is a </small>Mentality </h2>
</br>
</br>
</div>
<div style="float:left"><%= link_to 'START YOUR JOURNEY', register_path, class: "button1" %></div>